<div class="container card-container" style="min-height: 100vh;">
    <div class="row">
      <!-- First Card -->
      <div class="col-md-4">
        <div class="card" >
          <!-- <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Compress Single Image"> -->
          <img src="assets/images/single-image.webp" width="100%"  height="300"  class="card-img-top" alt="Compress Single Image">
          <div class="card-body text-center">
            <h5 class="card-title">Compress Single Image</h5>
            <p class="card-text">Quickly compress a single image to reduce file size.</p>
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col-md-4">
        <div class="card" routerLink="/compress-multiple-image" >
          <img src="assets/images/multiple-images.jpeg" width="100%"  height="300"  class="card-img-top" alt="Compress Multiple Images">
          <div class="card-body text-center">
            <h5 class="card-title">Compress Multiple Images</h5>
            <p class="card-text">Compress multiple images at once for convenience.</p>
          </div>
        </div>
      </div>
      <!-- Third Card -->
      <div class="col-md-4">
        <div class="card" >
          <img src="assets/images/resize-image.png" width="100%"  height="300"  class="card-img-top" alt="Resize Image">
          <div class="card-body text-center">
            <h5 class="card-title">Resize Image</h5>
            <p class="card-text">Easily resize images to your desired dimensions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>