


<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Compress Your Images</h1>
    <p class="lead">Effortlessly reduce image size without losing quality.</p>
    <a class="btn btn-primary btn-lg" routerLink="/features" role="button">Get Started</a>
    <!-- <button mat-flat-button>Basic</button> -->
  </div>        
</div>

<!-- Features Section -->
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-4">
          <i class="fas fa-cloud-upload-alt feature-icon"></i>
          <h3 class="feature-title">Upload Images</h3>
          <p class="feature-description">Upload multiple images at once with ease.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-4">
          <i class="fas fa-compress feature-icon"></i>
          <h3 class="feature-title">Compress Efficiently</h3>
          <p class="feature-description">Utilize advanced algorithms to compress images.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-4">
          <i class="fas fa-download feature-icon"></i>
          <h3 class="feature-title">Download Results</h3>
          <p class="feature-description">Download compressed images instantly.</p>
        </div>
      </div>
    </div>
  </div>
</section>

